@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    color: #333333;
    background-color: #ffffff;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
}

/* 전체 넓이, 높이 설정 */
.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

/* 헤더 설정 */

header {
    height: 100px;
    width: 100%;
    position: relative;
}

.top {
    width: 100%;
    height: 150px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.header-logo {
    float: left;
    margin-top: 25px;
}

.menu {
    float: right;
    position: absolute;
    right: 10px;
    top: 0px;
    margin-right: 20px;
    margin-top: 50px;
}

.menu > ul > li {
    float: left;
    font-size: 30px;
}

.menu > ul > li > a {
    z-index: 1;
    font-family: cursive;
    display: block;
    position: relative;
    width: 180px;
    line-height: 50px;
    text-align: center;
    height: 50px;
}

.menu > ul > li a:hover {
    background-color: lightgreen;
    color: #ffffff;
}

.submenu {
    text-align: center;
}

.submenu > li {
    background-color: blue;
    display: none;
}

.submenu > li > a {
    display: block;
    width: 180px;
    font-size: 25px;
}

/* 슬라이드 설정 */

.slide {
    height: 300px;
    background-color: azure;
}

/* 칸텐츠 설정 */

.contents {
    height: 200px;
    background-color: black;
}

/* 푸터 설정 */

footer {
    height: 100px;
    background-color: yellow;
}
