@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    color: #333333;
    background-color: #ffffff;
    list-style: none;
    text-decoration: none;
}

a {
    color: inherit;
}

/* 전체 넓이, 높이 설정 */
.container {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

/* 헤더 설정 */

header {
    height: 100px;
    width: 100%;
    position: relative;
}

.top {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
}

.header-logo {  
    float: left;
    margin-top: 25px;
}

.menu {
    float: right;
    position: absolute;
    right: 10px;
    top: 0px;
    margin-right: 20px;
    margin-top: 50px;
}

.menu > ul > li {
    float: left;
    font-size: 20px;
}

.menu > ul > li > a {
    display: block;
    position: relative;
    width: 180px;
    line-height: 50px;
    text-align: center;
    height: 50px;
}

.menu > ul > li a:hover {
    background-color: lightgreen;
    color: #ffffff;
}

.submenu {
    text-align: center;
}

.submenu > li {
    background-color: blue;
    display: none;
}

.submenu > li > a {
    display: block;
    width: 180px;
    font-size: 20px;
}

/* 슬라이드 설정 */

.slide {
    width: 1200px;
    height: 300px;
    position: relative;
}

.slide div > h3{
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);

}

.slide > div{
    display: block;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
    transform: translateX(-200px);
}

.slide > div a {
    display: block;
    height: 300px;
}

.slide > div.active{
    transform: translateX(0);
    opacity: 1;
}

/* 칸텐츠 설정 */

.contents {
    height: 200px;
}

/* 공지사항 설정 */

.announce{
    width: 398px;
    height: 200px;
    float: left;
}

.announce > div.ann2{
    background-color: rgb(24, 255, 74);
    display: block;
    left: 240px;
    font-size: 20px;
    width: 80px;
    transition: 0.4s;
}

.announce > div.ann{
    background-color: rgb(96, 247, 129);
    display: block;
    left: 240px;
    font-size: 20px;
    width: 80px;
    transition: 0.4s;
}

.announce> ul{
    display: block;
    position: absolute;
    height: 174px;
    width: 398px;
    background-color: rgb(96, 247, 129);
}

.announce > ul > li{
    font-size: 15px;
    text-align: left;
}

.announce > ul > li > p{
    float: right;
    padding-top: 18px;
    padding-right: 2px;
    display: block;
    background-color: rgb(96, 247, 129);
}

.announce > ul > li > a{
    background-color: rgb(96, 247, 129);
    padding-top: 18px;
    display: inline-block;
    width: 317.6px;
}

.announce > ul > li > a:hover{
    cursor: pointer;
    color: lightcoral;
    font-weight: bold;
}

/* 갤러리부분 설정 */

.gal{
    width: 400px;
    height: 200px;
    float: left;
    background-color: #ffffff;
}

.gal > div.ann{
    background-color: rgb(96, 247, 129);
    display: block;
    text-align: center;
    left: 240px;
    font-size: 20px;
    width: 80px;
    transition: 0.4s;
}

.gal > div.ann2{
    background-color: rgb(24, 255, 74);
    display: block;
    text-align: center;
    left: 240px;
    font-size: 20px;
    width: 80px;
    transition: 0.4s;
}

.gal > article.Gal{
    display: block;
    position: absolute;
    height: 174px;
    width: 400px;
    background-color: rgb(96, 247, 129);
}

.gal > .Gal > a > img{
    flex-direction: row;
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.banner{
    width: 400px;
    height: 200px;
    float: left;
    background-color: black;
}

.banner > h3{
    color: white;
    position: relative;
    text-align: center ;
    margin-top: 90px;
    background-color: rgba(255, 255, 255, 0);
}

/* 팝업창 설정 */

.model {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    position: relative;
    top: -500px;
    display: none;
    z-index: 1001;
}

.model > h3{
    text-align: center;
    padding: 7px;
}

.model p{
    padding: 10px;
    text-align: center;
}

.model > button{
    text-align: center;
    margin-top: 100px;
    margin-left: 220px;
    border: none;
    width: 60px;
    border: 1px solid gray;
}
#active{
    display: block;
}

#mask {  
    position:absolute;
    left:0;
    top:0;
    z-index:1000;  
    background-color:#000;  
    display: none;  
}
/* 푸터 설정 */

footer {
    height: 100px;
}

.footer-logo{
    width: 200px;
    height: 100px;
    float: left;
}

.img{
    width: 200px;
    height: 100px;
}

.footer-logo > img{
    width: 200px;
    display: inline-block;
    margin-top: 30px;
}

.copyright{
    width: 800px;
    height: 100px;
    float: left;
    text-align: center;
    font-size: 50px;
}

.family{
    font-size: 40px;
    text-align: center;
}